@page "/article/{Id:int}"
@using MeteorWebApp.Models
@using MeteorWebApp.Services
@inject ArticleService ArticleService

<PageTitle>Artículo</PageTitle>


<div class="article-container">

    <div class="article-date">
        @article.Date.ToString("dd MMM yyyy")
    </div>

    <img src="@article.ImageUrl"
         class="article-image"
         alt="@article.Title" />

    <h1 class="article-title">
        @article.Title
    </h1>

    <div class="article-content">
        @((MarkupString)article.Content)
    </div>

</div>

@code {
    [Parameter] public int Id { get; set; }

    private ArticleModel? article;

    protected override void OnInitialized()
    {
        article = ArticleService.GetById(Id);
    }
}