@page "/product/{Id:int}"
@rendermode InteractiveServer

@using MeteorWebApp.Models
@using MeteorWebApp.Services
@inject ProductService ProductService

<PageTitle>@product?.Title</PageTitle>


@if (product is null)
{
    <div class="container mt-5 pt-5">
        <h3>Producto no encontrado</h3>
    </div>
}
else
{
    <section class="product-page container snap-container">
        <div class="product-page snap-section">
            <div class="row g-4   ">

                <!-- LEFT: MEDIA -->
                <div class="product-gallery col-12 col-md-8 col-lg-8 ">

                    <div id="productCarousel"
                         class="carousel slide mb-3"
                         data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="2"></button>
                        </div>

                        <div class="carousel-inner
                        rounded
                        
                        overflow-hidden">

                            @for (int i = 0; i < product.Images.Count; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="carousel-img-wrapper ">
                                        <img src="@product.Images[i]"
                                             class="carousel-img" />
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="thumbnail-strip gap-2">
                        @for (int i = 0; i < product.Images.Count; i++)
                        {
                            <img src="@product.Images[i]"
                                 class="thumbnail "
                                 data-bs-target="#productCarousel"
                                 data-bs-slide-to="@i" />
                        }
                    </div>

                </div>

                <!-- RIGHT: INFO -->
                
                <div class="product-info col-12 col-md-4 col-lg-4 ">
                
                    <img src="@product.Poster"
                         class="product-poster mb-3" />
                    <h2 class="product-description title">@product.Title</h2>
                    <p class="product-description">
                        @product.Description
                    </p>
                    <p class="product-description">
                        <strong>Fecha de lanzamiento</strong><br />
                        @product.ReleaseDate.ToString("dd MMM yyyy")
                    </p>
                    <a href="@product.StoreUrl"
                       target="_blank"
                       class="btn btn-success btn-lg mt-3">
                        Ver en Play Store
                    </a>
                </div>
                

            </div>
        </div>
    </section>
}

@code {
    [Parameter] public int Id { get; set; }

    private ProductModel? product;

    protected override void OnInitialized()
    {
        product = ProductService.GetById(Id);
    }
}